* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.747);
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form, label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent {
  background: rgba(67, 68, 68, 0.575);
  padding-top: 100px;
  padding: 5px;
  width: 500px;
  height: 70%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: 80px;
  color: rgba(90, 88, 88, 0.582);
  background-color: rgb(160, 166, 177);
}

label {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

input {
  border: none;
  border-radius: 4px;
  height: 32px;
  width: 300px;
  padding: 5px;
  color: #000000;
}

textarea {
  resize: none;
  height: 200px;
  width: 300px;
  padding: 5px;
  color: #000000;
}

button {
  padding: 5px 52px;
  border-radius: 4px;
  border: none;
  background:  #cb3e2bbb;
  border-block: wit;
  margin-bottom: 20px;
}


